<h1>Hello World</h1>
<hr>
<h2>{{cualquierCosa}}</h2>
<h3>{{contarNumeros}}</h3>
<button (click)="sumarNumeros()" type="button" class="btn btn-primary md-2" style="margin: 10px;" >sumar</button>
<button (click)="restarNumeros()" type="button" class="btn btn-primary md-2" style="margin: 10px;" >restar</button>
<button (click)="resetearContador()" type="button" class="btn btn-primary md-2" style="margin: 10px;" >resetear</button>
<hr>
<app-list-heroes></app-list-heroes>
<router-outlet></router-outlet>
